In [1]:
!pip install ipython-sql
!pip install alchemy
!pip install pandas
!pip install prettytable==3.9.0

Requirement already satisfied: ipython-sql in d:\hanner\anaconda\envs\nuevo_entorno\lib\site-packages (0.5.0)
Requirement already satisfied: prettytable in d:\hanner\anaconda\envs\nuevo_entorno\lib\site-packages (from ipython-sql) (3.9.0)
Requirement already satisfied: ipython in d:\hanner\anaconda\envs\nuevo_entorno\lib\site-packages (from ipython-sql) (8.30.0)
Requirement already satisfied: sqlalchemy>=2.0 in d:\hanner\anaconda\envs\nuevo_entorno\lib\site-packages (from ipython-sql) (2.0.41)
Requirement already satisfied: sqlparse in d:\hanner\anaconda\envs\nuevo_entorno\lib\site-packages (from ipython-sql) (0.5.3)
Requirement already satisfied: six in d:\hanner\anaconda\envs\nuevo_entorno\lib\site-packages (from ipython-sql) (1.17.0)
Requirement already satisfied: ipython-genutils in d:\hanner\anaconda\envs\nuevo_entorno\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: greenlet>=1 in d:\hanner\anaconda\envs\nuevo_entorno\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (3.2.3)
Requirement already satisfied: typing-extensions>=4.6.0 in d:\hanner\anaconda\envs\nuevo_entorno\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.12.2)
Requirement already satisfied: decorator in d:\hanner\anaconda\envs\nuevo_entorno\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in d:\hanner\anaconda\envs\nuevo_entorno\lib\site-packages (from ipython->ipython-sql) (0.19.2)
Requirement already satisfied: matplotlib-inline in d:\hanner\anaconda\envs\nuevo_entorno\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in d:\hanner\anaconda\envs\nuevo_entorno\lib\site-packages (from ipython->ipython-sql) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in d:\hanner\anaconda\envs\nuevo_entorno\lib\site-packages (from ipython->ipython-sql) (2.19.1)
Requirement already satisfied: stack-data in d:\hanner\anaconda\envs\nuevo_entorno\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5.13.0 in d:\hanner\anaconda\envs\nuevo_entorno\lib\site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: exceptiongroup in d:\hanner\anaconda\envs\nuevo_entorno\lib\site-packages (from ipython->ipython-sql) (1.2.0)
Requirement already satisfied: colorama in d:\hanner\anaconda\envs\nuevo_entorno\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: wcwidth in d:\hanner\anaconda\envs\nuevo_entorno\lib\site-packages (from prompt-toolkit<3.1.0,>=3.0.41->ipython->ipython-sql) (0.2.13)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in d:\hanner\anaconda\envs\nuevo_entorno\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: executing in d:\hanner\anaconda\envs\nuevo_entorno\lib\site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in d:\hanner\anaconda\envs\nuevo_entorno\lib\site-packages (from stack-data->ipython->ipython-sql) (3.0.0)
Requirement already satisfied: pure-eval in d:\hanner\anaconda\envs\nuevo_entorno\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Requirement already satisfied: alchemy in d:\hanner\anaconda\envs\nuevo_entorno\lib\site-packages (20.5)
Requirement already satisfied: requests==2.22.0 in d:\hanner\anaconda\envs\nuevo_entorno\lib\site-packages (from alchemy) (2.22.0)
Requirement already satisfied: python-daemon==2.2.4 in d:\hanner\anaconda\envs\nuevo_entorno\lib\site-packages (from alchemy) (2.2.4)
Requirement already satisfied: filelock==3.0.12 in d:\hanner\anaconda\envs\nuevo_entorno\lib\site-packages (from alchemy) (3.0.12)
Requirement already satisfied: docutils in d:\hanner\anaconda\envs\nuevo_entorno\lib\site-packages (from python-daemon==2.2.4->alchemy) (0.21.2)
Requirement already satisfied: lockfile>=0.10 in d:\hanner\anaconda\envs\nuevo_entorno\lib\site-packages (from python-daemon==2.2.4->alchemy) (0.12.2)
Requirement already satisfied: setuptools in d:\hanner\anaconda\envs\nuevo_entorno\lib\site-packages (from python-daemon==2.2.4->alchemy) (78.1.1)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in d:\hanner\anaconda\envs\nuevo_entorno\lib\site-packages (from requests==2.22.0->alchemy) (3.0.4)
Requirement already satisfied: idna<2.9,>=2.5 in d:\hanner\anaconda\envs\nuevo_entorno\lib\site-packages (from requests==2.22.0->alchemy) (2.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in d:\hanner\anaconda\envs\nuevo_entorno\lib\site-packages (from requests==2.22.0->alchemy) (1.25.11)
Requirement already satisfied: certifi>=2017.4.17 in d:\hanner\anaconda\envs\nuevo_entorno\lib\site-packages (from requests==2.22.0->alchemy) (2025.6.15)
Requirement already satisfied: pandas in d:\hanner\anaconda\envs\nuevo_entorno\lib\site-packages (2.3.0)
Requirement already satisfied: numpy>=1.22.4 in d:\hanner\anaconda\envs\nuevo_entorno\lib\site-packages (from pandas) (2.2.6)
Requirement already satisfied: python-dateutil>=2.8.2 in d:\hanner\anaconda\envs\nuevo_entorno\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in d:\hanner\anaconda\envs\nuevo_entorno\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in d:\hanner\anaconda\envs\nuevo_entorno\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in d:\hanner\anaconda\envs\nuevo_entorno\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Requirement already satisfied: prettytable==3.9.0 in d:\hanner\anaconda\envs\nuevo_entorno\lib\site-packages (3.9.0)
Requirement already satisfied: wcwidth in d:\hanner\anaconda\envs\nuevo_entorno\lib\site-packages (from prettytable==3.9.0) (0.2.13)

In [2]:
import pandas as pd
import os

In [3]:
from sqlalchemy import create_engine
import pandas as pd

df0 = pd.read_csv("circuits.csv")
df1 = pd.read_csv("constructors.csv")
df2 = pd.read_csv("constructors_results.csv")
df3 = pd.read_csv("drivers.csv")
df4 = pd.read_csv("drivers_standing.csv")
df5 = pd.read_csv("pit_stops.csv")
df6 = pd.read_csv("qualifying.csv")
df7 = pd.read_csv("races.csv")
df8 = pd.read_csv("results.csv")
df9 = pd.read_csv("seasons.csv")
df10 = pd.read_csv("sprin_results.csv")
df11 = pd.read_csv("status.csv")
df12 = pd.read_csv("formula_unicorn.csv")
engine = create_engine("sqlite:///formula_unicorn.db")
df0.to_sql("circuits",  con=engine, if_exists="replace", index=False)
df1.to_sql("constructors",  con=engine, if_exists="replace", index=False)
df2.to_sql("constructors_results",  con=engine, if_exists="replace", index=False)
df3.to_sql("drivers",  con=engine, if_exists="replace", index=False)
df4.to_sql("drivers_standing", con=engine, if_exists="replace", index=False)
df5.to_sql("pit_stops",  con=engine, if_exists="replace", index=False)
df6.to_sql("qualifying",  con=engine, if_exists="replace", index=False)
df7.to_sql("races",  con=engine, if_exists="replace", index=False)
df8.to_sql("results",  con=engine, if_exists="replace", index=False)
df9.to_sql("seasons",  con=engine, if_exists="replace", index=False)
df10.to_sql("sprin_results",  con=engine, if_exists="replace", index=False)
df11.to_sql("status",  con=engine, if_exists="replace", index=False)
df12.to_sql("formula_unicorn",  con=engine, if_exists="replace", index=False)

200

In [4]:
%load_ext sql
%sql sqlite:///formula_unicorn.db

In [5]:
%sql

 * sqlite:///formula_unicorn.db

In [6]:
os.listdir()

['.ipynb_checkpoints',
 'circuits.csv',
 'constructors.csv',
 'constructors_results.csv',
 'datos.db',
 'drivers.csv',
 'drivers_standing.csv',
 'formula_unicorn.csv',
 'formula_unicorn.db',
 'formula_unicorn_dump.sql',
 'pit_stops.csv',
 'Project_Formula_Uno.sql',
 'qualifying.csv',
 'races.csv',
 'results.csv',
 'seasons.csv',
 'sprin_results.csv',
 'status.csv',
 'Untitled.ipynb']

### Part I - Answer for business questions.

 1. How many diferents circuits exist in the dataset?

In [10]:
%%sql
SELECT  
    COUNT(DISTINCT circuitid) AS Total_Circuits
FROM 	circuits;

 * sqlite:///formula_unicorn.db
Done.

[(77,)]

2. How many pilots have compited in F1 history?

In [12]:
%%sql
SELECT  COUNT( DISTINCT driverId) AS Total_pilots
FROM 	results;

 * sqlite:///formula_unicorn.db
Done.

[(22,)]

3. Which are the teams with the most victorys in the history?

In [13]:
%%sql
SELECT	c.name,
        COUNT(*) AS Victorys
FROM 	results r
JOIN 	constructors c ON r.constructorId = c. constructorId
WHERE 	position = 1
GROUP BY c.name
ORDER BY Victorys DESC;

 * sqlite:///formula_unicorn.db
Done.

[('Ferrari', 5), ('McLaren', 4), ('BMW Sauber', 1)]

4. What has been the laptime average in each circuit?

In [14]:
%%sql
SELECT 
	c.name,
    ROUND ( AVG (r.milliseconds / r.laps) / 1000,2) AS Time_in_seconds
FROM results r
JOIN races r_1 ON r.raceId = r_1.raceId
JOIN circuits c ON r_1.circuitId = c.circuitId
WHERE r.milliseconds IS NOT NULL
GROUP BY c.name;

 * sqlite:///formula_unicorn.db
Done.

[('Albert Park Grand Prix Circuit', 98.28),
 ('Bahrain International Circuit', 96.57),
 ('Circuit Gilles Villeneuve', 83.26),
 ('Circuit de Barcelona-Catalunya', 89.86),
 ('Circuit de Monaco', 95.56),
 ('Circuit de Nevers Magny-Cours', 79.28),
 ('Hockenheimring', 82.13),
 ('Istanbul Park', 90.52),
 ('Sepang International Circuit', 98.79),
 ('Silverstone Circuit', 100.0)]

5. Which pilot has the most quantity of fast laps?

In [15]:
%%sql
SELECT 
	d.surname,
    COUNT(*) AS Quantity_fastlaps
FROM results r
JOIN drivers d ON r.driverId = d.driverId
WHERE rankValue ='1'
GROUP BY d.surname
ORDER BY Quantity_fastlaps DESC;

 * sqlite:///formula_unicorn.db
Done.

[('Räikkönen', 6), ('Kovalainen', 2), ('Heidfeld', 2)]

6. How many races has been realized in each season?

In [16]:
%%sql
SELECT 
	year,
    COUNT(*) AS races_each_season
FROM races 
GROUP BY year
ORDER BY races_each_season DESC;

 * sqlite:///formula_unicorn.db
Done.

[(2005, 19),
 (2008, 18),
 (2006, 18),
 (2004, 18),
 (2009, 17),
 (2007, 17),
 (2002, 17),
 (2001, 17),
 (2000, 17),
 (2003, 16),
 (1999, 16),
 (1998, 10)]

7. What has been the pits strategy more effective?

In [17]:
%%sql
SELECT
	stop,
    ROUND (AVG (milliseconds /1000),2) AS Pits_time
FROM pit_stops
GROUP BY stop
ORDER BY Pits_time;

 * sqlite:///formula_unicorn.db
Done.

[(1, 22.9), (2, 22.97), (3, 23.42), (4, 25.0)]

8. Which pilot has obteined more pudiums in the history?

In [21]:
%%sql
SELECT 
	d.surname,
	COUNT(*) Pudiums
FROM drivers d
JOIN results r ON d.driverId = r.driverId
WHERE positionOrder IN (1,2,3)
GROUP BY d.surname
ORDER BY Pudiums DESC;

 * sqlite:///formula_unicorn.db
Done.

[('Massa', 6),
 ('Hamilton', 6),
 ('Räikkönen', 5),
 ('Kubica', 4),
 ('Heidfeld', 3),
 ('Trulli', 1),
 ('Rosberg', 1),
 ('Piquet Jr.', 1),
 ('Kovalainen', 1),
 ('Coulthard', 1),
 ('Barrichello', 1)]

9. Which have been the 5 pilots with the best average in finals positions?

In [22]:
%%sql
SELECT 
	d.surname,
	ROUND(AVG(r.positionOrder),2) AS promedio
FROM drivers d
JOIN results r ON d.driverId = r.driverId
GROUP BY d.surname
ORDER BY promedio DESC
limit 5;

 * sqlite:///formula_unicorn.db
Done.

[('Sutil', 18.22),
 ('Davidson', 17.0),
 ('Fisichella', 15.78),
 ('Bourdais', 15.4),
 ('Vettel', 15.1)]

10. Which team has reached much quantity poles position?

In [25]:
%%sql
SELECT 
	c.name AS constructor,
    COUNT(*) AS Position
FROM qualifying q
JOIN constructors c ON q.constructorId = c.constructorId
WHERE position = 1
GROUP BY constructor
ORDER BY position DESC;

 * sqlite:///formula_unicorn.db
Done.

[('Ferrari', 5), ('McLaren', 4), ('BMW Sauber', 1)]

11. How many points have reached each team in a specific season?

In [27]:
%%sql
SELECT
	ra.year AS year,
	c.name AS Constructor,
    FORMAT(SUM(r.points),0) AS Total_points 
FROM results r
JOIN constructors c ON r.constructorId = c.constructorId
JOIN races ra ON r.raceId = ra.raceId
GROUP BY year, Constructor
ORDER BY year DESC, Total_points DESC;

 * sqlite:///formula_unicorn.db
Done.

[(2008, 'BMW Sauber', '89.0'),
 (2008, 'McLaren', '86.0'),
 (2008, 'Toro Rosso', '8.0'),
 (2008, 'Toyota', '25.0'),
 (2008, 'Red Bull', '24.0'),
 (2008, 'Renault', '23.0'),
 (2008, 'Williams', '16.0'),
 (2008, 'Honda', '14.0'),
 (2008, 'Ferrari', '105.0'),
 (2008, 'Super Aguri', '0.0'),
 (2008, 'Force India', '0.0')]

12. What is the circuit where it has produced more retirements?

In [28]:
%%sql
SELECT
	c.name AS Circuit,
	s.status AS Reason,
    COUNT(*) AS Total_Retirement
FROM results r
JOIN status s ON r.statusId = s.statusId
JOIN races ra ON r.raceId = ra.raceId
JOIN circuits c ON ra.circuitId = c.circuitId
WHERE s.status NOT IN ('finished', 'Disqualified')
				AND s.status NOT LIKE '%lap%'
                AND s.status NOT LIKE 'Did%'
GROUP BY Circuit, Reason
ORDER BY Total_Retirement DESC;

 * sqlite:///formula_unicorn.db
Done.

[('Circuit de Nevers Magny-Cours', 'Finished', 13),
 ('Circuit Gilles Villeneuve', 'Finished', 12),
 ('Hockenheimring', 'Finished', 12),
 ('Bahrain International Circuit', 'Finished', 11),
 ('Sepang International Circuit', 'Finished', 11),
 ('Istanbul Park', 'Finished', 10),
 ('Circuit de Barcelona-Catalunya', 'Finished', 9),
 ('Circuit de Monaco', 'Finished', 9),
 ('Albert Park Grand Prix Circuit', 'Collision', 7),
 ('Albert Park Grand Prix Circuit', 'Finished', 5),
 ('Circuit de Barcelona-Catalunya', 'Collision', 5),
 ('Silverstone Circuit', 'Spun off', 5),
 ('Albert Park Grand Prix Circuit', 'Engine', 3),
 ('Circuit de Monaco', 'Accident', 3),
 ('Silverstone Circuit', 'Finished', 3),
 ('Circuit Gilles Villeneuve', 'Collision', 2),
 ('Circuit Gilles Villeneuve', 'Spun off', 2),
 ('Circuit de Barcelona-Catalunya', 'Engine', 2),
 ('Circuit de Monaco', 'Collision', 2),
 ('Istanbul Park', 'Collision', 2),
 ('Sepang International Circuit', 'Spun off', 2),
 ('Silverstone Circuit', 'Collision', 2),
 ('Albert Park Grand Prix Circuit', 'Accident', 1),
 ('Albert Park Grand Prix Circuit', 'Clutch', 1),
 ('Albert Park Grand Prix Circuit', 'Electrical', 1),
 ('Albert Park Grand Prix Circuit', 'Hydraulics', 1),
 ('Albert Park Grand Prix Circuit', 'Transmission', 1),
 ('Bahrain International Circuit', 'Collision', 1),
 ('Bahrain International Circuit', 'Engine', 1),
 ('Bahrain International Circuit', 'Gearbox', 1),
 ('Circuit Gilles Villeneuve', 'Accident', 1),
 ('Circuit Gilles Villeneuve', 'Brakes', 1),
 ('Circuit Gilles Villeneuve', 'Gearbox', 1),
 ('Circuit de Barcelona-Catalunya', 'Accident', 1),
 ('Circuit de Barcelona-Catalunya', 'Radiator', 1),
 ('Circuit de Monaco', 'Gearbox', 1),
 ('Circuit de Nevers Magny-Cours', 'Collision', 1),
 ('Istanbul Park', 'Suspension', 1),
 ('Sepang International Circuit', 'Collision', 1),
 ('Sepang International Circuit', 'Engine', 1),
 ('Sepang International Circuit', 'Hydraulics', 1)]

13. Which pilot has improved more positions since the departure in grid?

In [29]:
%%sql
SELECT
	d.surname AS Pilot,
	ROUND(AVG( r.positionOrder - r.grid ),1) AS Points_average
FROM results r
JOIN drivers d ON r.driverId = d.driverId
WHERE grid IS NOT NULL AND grid < positionOrder
GROUP BY Pilot
ORDER BY Points_average DESC;

 * sqlite:///formula_unicorn.db
Done.

[('Hamilton', 14.0),
 ('Rosberg', 7.5),
 ('Button', 7.3),
 ('Piquet Jr.', 6.8),
 ('Massa', 6.8),
 ('Alonso', 6.7),
 ('Barrichello', 6.3),
 ('Räikkönen', 6.0),
 ('Vettel', 5.8),
 ('Glock', 5.3),
 ('Kovalainen', 5.0),
 ('Trulli', 4.4),
 ('Coulthard', 4.4),
 ('Kubica', 4.3),
 ('Bourdais', 3.5),
 ('Webber', 3.0),
 ('Nakajima', 3.0),
 ('Fisichella', 3.0),
 ('Sutil', 2.0),
 ('Heidfeld', 1.7)]

14. Which are the teams with the largest quantity of doubles (1st and 2nd lap race)?

In [30]:
%%sql
SELECT
	c.name AS Driver,
    COUNT(*) AS Doubles
FROM results r1 
JOIN results r2 ON r1.raceId = r2.raceId AND
	 r1.constructorId = r2.constructorId	-- for one constructor
JOIN constructors c ON r1.constructorId = c.constructorId -- for 2nd constructor
WHERE r1.position = 1 AND
		r2.position = 2
GROUP BY Driver
ORDER BY Doubles DESC;

 * sqlite:///formula_unicorn.db
Done.

[('Ferrari', 3), ('BMW Sauber', 1)]

15. Which have been the 5 GP with less difference between 1st and 2nd place?

In [31]:
%%sql
SELECT
	ra.name AS Race,
    ra.year AS year,
    MIN(ABS(re.milliseconds - re2.milliseconds)) AS Difference
FROM results re
JOIN races ra ON re.raceId = ra.raceId
JOIN results re2 ON re.raceId = re2.raceId AND
	re.position = 1 AND
    re2.position = 2
WHERE re.milliseconds IS NOT NULL AND
	re2.milliseconds IS NOT NULL
GROUP BY Race, year
ORDER BY Difference
LIMIT 5;

 * sqlite:///formula_unicorn.db
Done.

[('Monaco Grand Prix', 2008, 3064.0),
 ('Spanish Grand Prix', 2008, 3228.0),
 ('Bahrain Grand Prix', 2008, 3339.0),
 ('Turkish Grand Prix', 2008, 3779.0),
 ('Australian Grand Prix', 2008, 5478.0)]

16. How many pilots have participated in each season?

In [32]:
%%sql
SELECT
	ra.year AS Year,
    COUNT(DISTINCT(d.driverId)) AS Total_driver
FROM results re
JOIN races ra ON re.raceId = ra.raceId
JOIN drivers d ON re.driverId = d.driverId
GROUP BY Year
ORDER BY Year;

 * sqlite:///formula_unicorn.db
Done.

[(2008, 22)]

17. Ranking of 5 best pilots with more points in a season.

In [33]:
%%sql
SELECT
	driverId,
    surname,
    year,
    total_points,
    RANK() OVER (PARTITION BY year
				ORDER BY  total_points DESC) AS Ranking
FROM (
	SELECT re.driverId,
			d.surname AS surname,
            ra.year,
            ROUND(SUM(re.points),0) AS total_points
	FROM results re
    JOIN races ra ON re.raceId = ra.raceId
    JOIN drivers d ON re.driverId = d.driverId
    GROUP BY re.driverId, ra.year
    ) AS Subquery
ORDER BY year DESC, Ranking	ASC
LIMIT 5;

 * sqlite:///formula_unicorn.db
Done.

[(1, 'Hamilton', 2008, 58.0, 1),
 (13, 'Massa', 2008, 54.0, 2),
 (8, 'Räikkönen', 2008, 51.0, 3),
 (9, 'Kubica', 2008, 48.0, 4),
 (2, 'Heidfeld', 2008, 41.0, 5)]

18. Obtain the final position for each pilot in each race.

In [35]:
%%sql
SELECT raceId, driverId, 
DENSE_RANK() OVER (PARTITION BY raceId ORDER BY positionOrder ASC) AS position
FROM results;

 * sqlite:///formula_unicorn.db
Done.

[(18, 1, 1),
 (18, 2, 2),
 (18, 3, 3),
 (18, 4, 4),
 (18, 5, 5),
 (18, 6, 6),
 (18, 7, 7),
 (18, 8, 8),
 (18, 9, 9),
 (18, 10, 10),
 (18, 11, 11),
 (18, 12, 12),
 (18, 13, 13),
 (18, 14, 14),
 (18, 15, 15),
 (18, 16, 16),
 (18, 17, 17),
 (18, 18, 18),
 (18, 19, 19),
 (18, 20, 20),
 (18, 21, 21),
 (18, 22, 22),
 (19, 8, 1),
 (19, 9, 2),
 (19, 5, 3),
 (19, 15, 4),
 (19, 1, 5),
 (19, 2, 6),
 (19, 17, 7),
 (19, 4, 8),
 (19, 14, 9),
 (19, 18, 10),
 (19, 12, 11),
 (19, 21, 12),
 (19, 22, 13),
 (19, 3, 14),
 (19, 19, 15),
 (19, 11, 16),
 (19, 6, 17),
 (19, 20, 18),
 (19, 13, 19),
 (19, 16, 20),
 (19, 10, 21),
 (19, 7, 22),
 (20, 13, 1),
 (20, 8, 2),
 (20, 9, 3),
 (20, 2, 4),
 (20, 5, 5),
 (20, 15, 6),
 (20, 17, 7),
 (20, 3, 8),
 (20, 10, 9),
 (20, 4, 10),
 (20, 22, 11),
 (20, 21, 12),
 (20, 1, 13),
 (20, 6, 14),
 (20, 7, 15),
 (20, 19, 16),
 (20, 11, 17),
 (20, 14, 18),
 (20, 16, 19),
 (20, 12, 20),
 (20, 18, 21),
 (20, 20, 22),
 (21, 8, 1),
 (21, 13, 2),
 (21, 1, 3),
 (21, 9, 4),
 (21, 17, 5),
 (21, 18, 6),
 (21, 6, 7),
 (21, 15, 8),
 (21, 2, 9),
 (21, 21, 10),
 (21, 10, 11),
 (21, 14, 12),
 (21, 11, 13),
 (21, 3, 14),
 (21, 4, 15),
 (21, 22, 16),
 (21, 5, 17),
 (21, 19, 18),
 (21, 7, 19),
 (21, 12, 20),
 (21, 16, 21),
 (21, 20, 22),
 (22, 13, 1),
 (22, 1, 2),
 (22, 8, 3),
 (22, 9, 4),
 (22, 2, 5),
 (22, 4, 6),
 (22, 17, 7),
 (22, 3, 8),
 (22, 14, 9),
 (22, 15, 10),
 (22, 18, 11),
 (22, 5, 12),
 (22, 10, 13),
 (22, 22, 14),
 (22, 12, 15),
 (22, 16, 16),
 (22, 20, 17),
 (22, 7, 18),
 (22, 6, 19),
 (22, 21, 20),
 (23, 1, 1),
 (23, 9, 2),
 (23, 13, 3),
 (23, 17, 4),
 (23, 20, 5),
 (23, 22, 6),
 (23, 6, 7),
 (23, 5, 8),
 (23, 8, 9),
 (23, 4, 10),
 (23, 18, 11),
 (23, 10, 12),
 (23, 15, 13),
 (23, 2, 14),
 (23, 16, 15),
 (23, 3, 16),
 (23, 12, 17),
 (23, 21, 18),
 (23, 14, 19),
 (23, 7, 20),
 (24, 9, 1),
 (24, 2, 2),
 (24, 14, 3),
 (24, 10, 4),
 (24, 13, 5),
 (24, 15, 6),
 (24, 22, 7),
 (24, 20, 8),
 (24, 5, 9),
 (24, 3, 10),
 (24, 18, 11),
 (24, 17, 12),
 (24, 7, 13),
 (24, 21, 14),
 (24, 6, 15),
 (24, 4, 16),
 (24, 12, 17),
 (24, 8, 18),
 (24, 1, 19),
 (24, 16, 20),
 (25, 13, 1),
 (25, 8, 2),
 (25, 15, 3),
 (25, 5, 4),
 (25, 9, 5),
 (25, 17, 6),
 (25, 12, 7),
 (25, 4, 8),
 (25, 14, 9),
 (25, 1, 10),
 (25, 10, 11),
 (25, 20, 12),
 (25, 2, 13),
 (25, 22, 14),
 (25, 6, 15),
 (25, 3, 16),
 (25, 7, 17),
 (25, 21, 18),
 (25, 16, 19),
 (25, 18, 20),
 (26, 1, 1),
 (26, 2, 2),
 (26, 22, 3),
 (26, 8, 4),
 (26, 5, 5),
 (26, 4, 6),
 (26, 15, 7),
 (26, 6, 8),
 (26, 3, 9),
 (26, 17, 10),
 (26, 7, 11),
 (26, 10, 12),
 (26, 13, 13),
 (26, 9, 14),
 (26, 18, 15),
 (26, 12, 16),
 (26, 21, 17),
 (26, 16, 18),
 (26, 20, 19),
 (26, 14, 20),
 (27, 1, 1),
 (27, 12, 2),
 (27, 13, 3),
 (27, 2, 4),
 (27, 5, 5),
 (27, 8, 6),
 (27, 9, 7),
 (27, 20, 8),
 (27, 15, 9),
 (27, 3, 10),
 (27, 4, 11),
 (27, 7, 12)]

19. How many points has obtained each team?

In [36]:
%%sql
SELECT constructors.name,
COALESCE(SUM(results.points), 0) AS total_points
FROM constructors
LEFT JOIN results ON constructors.constructorId = results.constructorId
GROUP BY constructors.name
ORDER BY total_points DESC;

SELECT 
	raceId AS Circuit_code,
    driverId AS Driver_code,
	RANK() OVER (PARTITION BY raceId
				ORDER BY positionOrder ASC) AS Position, -- Screen function
	DENSE_RANK() OVER (PARTITION BY raceId
				ORDER BY positionOrder ASC) AS Position
FROM results;

 * sqlite:///formula_unicorn.db
Done.
Done.

[(18, 1, 1, 1),
 (18, 2, 2, 2),
 (18, 3, 3, 3),
 (18, 4, 4, 4),
 (18, 5, 5, 5),
 (18, 6, 6, 6),
 (18, 7, 7, 7),
 (18, 8, 8, 8),
 (18, 9, 9, 9),
 (18, 10, 10, 10),
 (18, 11, 11, 11),
 (18, 12, 12, 12),
 (18, 13, 13, 13),
 (18, 14, 14, 14),
 (18, 15, 15, 15),
 (18, 16, 16, 16),
 (18, 17, 17, 17),
 (18, 18, 18, 18),
 (18, 19, 19, 19),
 (18, 20, 20, 20),
 (18, 21, 21, 21),
 (18, 22, 22, 22),
 (19, 8, 1, 1),
 (19, 9, 2, 2),
 (19, 5, 3, 3),
 (19, 15, 4, 4),
 (19, 1, 5, 5),
 (19, 2, 6, 6),
 (19, 17, 7, 7),
 (19, 4, 8, 8),
 (19, 14, 9, 9),
 (19, 18, 10, 10),
 (19, 12, 11, 11),
 (19, 21, 12, 12),
 (19, 22, 13, 13),
 (19, 3, 14, 14),
 (19, 19, 15, 15),
 (19, 11, 16, 16),
 (19, 6, 17, 17),
 (19, 20, 18, 18),
 (19, 13, 19, 19),
 (19, 16, 20, 20),
 (19, 10, 21, 21),
 (19, 7, 22, 22),
 (20, 13, 1, 1),
 (20, 8, 2, 2),
 (20, 9, 3, 3),
 (20, 2, 4, 4),
 (20, 5, 5, 5),
 (20, 15, 6, 6),
 (20, 17, 7, 7),
 (20, 3, 8, 8),
 (20, 10, 9, 9),
 (20, 4, 10, 10),
 (20, 22, 11, 11),
 (20, 21, 12, 12),
 (20, 1, 13, 13),
 (20, 6, 14, 14),
 (20, 7, 15, 15),
 (20, 19, 16, 16),
 (20, 11, 17, 17),
 (20, 14, 18, 18),
 (20, 16, 19, 19),
 (20, 12, 20, 20),
 (20, 18, 21, 21),
 (20, 20, 22, 22),
 (21, 8, 1, 1),
 (21, 13, 2, 2),
 (21, 1, 3, 3),
 (21, 9, 4, 4),
 (21, 17, 5, 5),
 (21, 18, 6, 6),
 (21, 6, 7, 7),
 (21, 15, 8, 8),
 (21, 2, 9, 9),
 (21, 21, 10, 10),
 (21, 10, 11, 11),
 (21, 14, 12, 12),
 (21, 11, 13, 13),
 (21, 3, 14, 14),
 (21, 4, 15, 15),
 (21, 22, 16, 16),
 (21, 5, 17, 17),
 (21, 19, 18, 18),
 (21, 7, 19, 19),
 (21, 12, 20, 20),
 (21, 16, 21, 21),
 (21, 20, 22, 22),
 (22, 13, 1, 1),
 (22, 1, 2, 2),
 (22, 8, 3, 3),
 (22, 9, 4, 4),
 (22, 2, 5, 5),
 (22, 4, 6, 6),
 (22, 17, 7, 7),
 (22, 3, 8, 8),
 (22, 14, 9, 9),
 (22, 15, 10, 10),
 (22, 18, 11, 11),
 (22, 5, 12, 12),
 (22, 10, 13, 13),
 (22, 22, 14, 14),
 (22, 12, 15, 15),
 (22, 16, 16, 16),
 (22, 20, 17, 17),
 (22, 7, 18, 18),
 (22, 6, 19, 19),
 (22, 21, 20, 20),
 (23, 1, 1, 1),
 (23, 9, 2, 2),
 (23, 13, 3, 3),
 (23, 17, 4, 4),
 (23, 20, 5, 5),
 (23, 22, 6, 6),
 (23, 6, 7, 7),
 (23, 5, 8, 8),
 (23, 8, 9, 9),
 (23, 4, 10, 10),
 (23, 18, 11, 11),
 (23, 10, 12, 12),
 (23, 15, 13, 13),
 (23, 2, 14, 14),
 (23, 16, 15, 15),
 (23, 3, 16, 16),
 (23, 12, 17, 17),
 (23, 21, 18, 18),
 (23, 14, 19, 19),
 (23, 7, 20, 20),
 (24, 9, 1, 1),
 (24, 2, 2, 2),
 (24, 14, 3, 3),
 (24, 10, 4, 4),
 (24, 13, 5, 5),
 (24, 15, 6, 6),
 (24, 22, 7, 7),
 (24, 20, 8, 8),
 (24, 5, 9, 9),
 (24, 3, 10, 10),
 (24, 18, 11, 11),
 (24, 17, 12, 12),
 (24, 7, 13, 13),
 (24, 21, 14, 14),
 (24, 6, 15, 15),
 (24, 4, 16, 16),
 (24, 12, 17, 17),
 (24, 8, 18, 18),
 (24, 1, 19, 19),
 (24, 16, 20, 20),
 (25, 13, 1, 1),
 (25, 8, 2, 2),
 (25, 15, 3, 3),
 (25, 5, 4, 4),
 (25, 9, 5, 5),
 (25, 17, 6, 6),
 (25, 12, 7, 7),
 (25, 4, 8, 8),
 (25, 14, 9, 9),
 (25, 1, 10, 10),
 (25, 10, 11, 11),
 (25, 20, 12, 12),
 (25, 2, 13, 13),
 (25, 22, 14, 14),
 (25, 6, 15, 15),
 (25, 3, 16, 16),
 (25, 7, 17, 17),
 (25, 21, 18, 18),
 (25, 16, 19, 19),
 (25, 18, 20, 20),
 (26, 1, 1, 1),
 (26, 2, 2, 2),
 (26, 22, 3, 3),
 (26, 8, 4, 4),
 (26, 5, 5, 5),
 (26, 4, 6, 6),
 (26, 15, 7, 7),
 (26, 6, 8, 8),
 (26, 3, 9, 9),
 (26, 17, 10, 10),
 (26, 7, 11, 11),
 (26, 10, 12, 12),
 (26, 13, 13, 13),
 (26, 9, 14, 14),
 (26, 18, 15, 15),
 (26, 12, 16, 16),
 (26, 21, 17, 17),
 (26, 16, 18, 18),
 (26, 20, 19, 19),
 (26, 14, 20, 20),
 (27, 1, 1, 1),
 (27, 12, 2, 2),
 (27, 13, 3, 3),
 (27, 2, 4, 4),
 (27, 5, 5, 5),
 (27, 8, 6, 6),
 (27, 9, 7, 7),
 (27, 20, 8, 8),
 (27, 15, 9, 9),
 (27, 3, 10, 10),
 (27, 4, 11, 11),
 (27, 7, 12, 12)]

20. Determinar la clasificación de un piloto en una carrera.

In [37]:
%%sql
SELECT driverId, raceId,
    CASE
        WHEN positionOrder = 1 THEN 'Ganador'
        WHEN positionOrder BETWEEN 2 AND 3 THEN 'Podio'
        WHEN positionOrder BETWEEN 4 AND 10 THEN 'Puntos'
        ELSE 'Fuera de puntos'
    END AS clasificacion
FROM results;

 * sqlite:///formula_unicorn.db
Done.

[(1, 18, 'Ganador'),
 (2, 18, 'Podio'),
 (3, 18, 'Podio'),
 (4, 18, 'Puntos'),
 (5, 18, 'Puntos'),
 (6, 18, 'Puntos'),
 (7, 18, 'Puntos'),
 (8, 18, 'Puntos'),
 (9, 18, 'Puntos'),
 (10, 18, 'Puntos'),
 (11, 18, 'Fuera de puntos'),
 (12, 18, 'Fuera de puntos'),
 (13, 18, 'Fuera de puntos'),
 (14, 18, 'Fuera de puntos'),
 (15, 18, 'Fuera de puntos'),
 (16, 18, 'Fuera de puntos'),
 (17, 18, 'Fuera de puntos'),
 (18, 18, 'Fuera de puntos'),
 (19, 18, 'Fuera de puntos'),
 (20, 18, 'Fuera de puntos'),
 (21, 18, 'Fuera de puntos'),
 (22, 18, 'Fuera de puntos'),
 (8, 19, 'Ganador'),
 (9, 19, 'Podio'),
 (5, 19, 'Podio'),
 (15, 19, 'Puntos'),
 (1, 19, 'Puntos'),
 (2, 19, 'Puntos'),
 (17, 19, 'Puntos'),
 (4, 19, 'Puntos'),
 (14, 19, 'Puntos'),
 (18, 19, 'Puntos'),
 (12, 19, 'Fuera de puntos'),
 (21, 19, 'Fuera de puntos'),
 (22, 19, 'Fuera de puntos'),
 (3, 19, 'Fuera de puntos'),
 (19, 19, 'Fuera de puntos'),
 (11, 19, 'Fuera de puntos'),
 (6, 19, 'Fuera de puntos'),
 (20, 19, 'Fuera de puntos'),
 (13, 19, 'Fuera de puntos'),
 (16, 19, 'Fuera de puntos'),
 (10, 19, 'Fuera de puntos'),
 (7, 19, 'Fuera de puntos'),
 (13, 20, 'Ganador'),
 (8, 20, 'Podio'),
 (9, 20, 'Podio'),
 (2, 20, 'Puntos'),
 (5, 20, 'Puntos'),
 (15, 20, 'Puntos'),
 (17, 20, 'Puntos'),
 (3, 20, 'Puntos'),
 (10, 20, 'Puntos'),
 (4, 20, 'Puntos'),
 (22, 20, 'Fuera de puntos'),
 (21, 20, 'Fuera de puntos'),
 (1, 20, 'Fuera de puntos'),
 (6, 20, 'Fuera de puntos'),
 (7, 20, 'Fuera de puntos'),
 (19, 20, 'Fuera de puntos'),
 (11, 20, 'Fuera de puntos'),
 (14, 20, 'Fuera de puntos'),
 (16, 20, 'Fuera de puntos'),
 (12, 20, 'Fuera de puntos'),
 (18, 20, 'Fuera de puntos'),
 (20, 20, 'Fuera de puntos'),
 (8, 21, 'Ganador'),
 (13, 21, 'Podio'),
 (1, 21, 'Podio'),
 (9, 21, 'Puntos'),
 (17, 21, 'Puntos'),
 (18, 21, 'Puntos'),
 (6, 21, 'Puntos'),
 (15, 21, 'Puntos'),
 (2, 21, 'Puntos'),
 (21, 21, 'Puntos'),
 (10, 21, 'Fuera de puntos'),
 (14, 21, 'Fuera de puntos'),
 (11, 21, 'Fuera de puntos'),
 (3, 21, 'Fuera de puntos'),
 (4, 21, 'Fuera de puntos'),
 (22, 21, 'Fuera de puntos'),
 (5, 21, 'Fuera de puntos'),
 (19, 21, 'Fuera de puntos'),
 (7, 21, 'Fuera de puntos'),
 (12, 21, 'Fuera de puntos'),
 (16, 21, 'Fuera de puntos'),
 (20, 21, 'Fuera de puntos'),
 (13, 22, 'Ganador'),
 (1, 22, 'Podio'),
 (8, 22, 'Podio'),
 (9, 22, 'Puntos'),
 (2, 22, 'Puntos'),
 (4, 22, 'Puntos'),
 (17, 22, 'Puntos'),
 (3, 22, 'Puntos'),
 (14, 22, 'Puntos'),
 (15, 22, 'Puntos'),
 (18, 22, 'Fuera de puntos'),
 (5, 22, 'Fuera de puntos'),
 (10, 22, 'Fuera de puntos'),
 (22, 22, 'Fuera de puntos'),
 (12, 22, 'Fuera de puntos'),
 (16, 22, 'Fuera de puntos'),
 (20, 22, 'Fuera de puntos'),
 (7, 22, 'Fuera de puntos'),
 (6, 22, 'Fuera de puntos'),
 (21, 22, 'Fuera de puntos'),
 (1, 23, 'Ganador'),
 (9, 23, 'Podio'),
 (13, 23, 'Podio'),
 (17, 23, 'Puntos'),
 (20, 23, 'Puntos'),
 (22, 23, 'Puntos'),
 (6, 23, 'Puntos'),
 (5, 23, 'Puntos'),
 (8, 23, 'Puntos'),
 (4, 23, 'Puntos'),
 (18, 23, 'Fuera de puntos'),
 (10, 23, 'Fuera de puntos'),
 (15, 23, 'Fuera de puntos'),
 (2, 23, 'Fuera de puntos'),
 (16, 23, 'Fuera de puntos'),
 (3, 23, 'Fuera de puntos'),
 (12, 23, 'Fuera de puntos'),
 (21, 23, 'Fuera de puntos'),
 (14, 23, 'Fuera de puntos'),
 (7, 23, 'Fuera de puntos'),
 (9, 24, 'Ganador'),
 (2, 24, 'Podio'),
 (14, 24, 'Podio'),
 (10, 24, 'Puntos'),
 (13, 24, 'Puntos'),
 (15, 24, 'Puntos'),
 (22, 24, 'Puntos'),
 (20, 24, 'Puntos'),
 (5, 24, 'Puntos'),
 (3, 24, 'Puntos'),
 (18, 24, 'Fuera de puntos'),
 (17, 24, 'Fuera de puntos'),
 (7, 24, 'Fuera de puntos'),
 (21, 24, 'Fuera de puntos'),
 (6, 24, 'Fuera de puntos'),
 (4, 24, 'Fuera de puntos'),
 (12, 24, 'Fuera de puntos'),
 (8, 24, 'Fuera de puntos'),
 (1, 24, 'Fuera de puntos'),
 (16, 24, 'Fuera de puntos'),
 (13, 25, 'Ganador'),
 (8, 25, 'Podio'),
 (15, 25, 'Podio'),
 (5, 25, 'Puntos'),
 (9, 25, 'Puntos'),
 (17, 25, 'Puntos'),
 (12, 25, 'Puntos'),
 (4, 25, 'Puntos'),
 (14, 25, 'Puntos'),
 (1, 25, 'Puntos'),
 (10, 25, 'Fuera de puntos'),
 (20, 25, 'Fuera de puntos'),
 (2, 25, 'Fuera de puntos'),
 (22, 25, 'Fuera de puntos'),
 (6, 25, 'Fuera de puntos'),
 (3, 25, 'Fuera de puntos'),
 (7, 25, 'Fuera de puntos'),
 (21, 25, 'Fuera de puntos'),
 (16, 25, 'Fuera de puntos'),
 (18, 25, 'Fuera de puntos'),
 (1, 26, 'Ganador'),
 (2, 26, 'Podio'),
 (22, 26, 'Podio'),
 (8, 26, 'Puntos'),
 (5, 26, 'Puntos'),
 (4, 26, 'Puntos'),
 (15, 26, 'Puntos'),
 (6, 26, 'Puntos'),
 (3, 26, 'Puntos'),
 (17, 26, 'Puntos'),
 (7, 26, 'Fuera de puntos'),
 (10, 26, 'Fuera de puntos'),
 (13, 26, 'Fuera de puntos'),
 (9, 26, 'Fuera de puntos'),
 (18, 26, 'Fuera de puntos'),
 (12, 26, 'Fuera de puntos'),
 (21, 26, 'Fuera de puntos'),
 (16, 26, 'Fuera de puntos'),
 (20, 26, 'Fuera de puntos'),
 (14, 26, 'Fuera de puntos'),
 (1, 27, 'Ganador'),
 (12, 27, 'Podio'),
 (13, 27, 'Podio'),
 (2, 27, 'Puntos'),
 (5, 27, 'Puntos'),
 (8, 27, 'Puntos'),
 (9, 27, 'Puntos'),
 (20, 27, 'Puntos'),
 (15, 27, 'Puntos'),
 (3, 27, 'Puntos'),
 (4, 27, 'Fuera de puntos'),
 (7, 27, 'Fuera de puntos')]

### Part II - Automatization

1. Create a view that translate the race status in spanish.

In [38]:
%%sql
CREATE VIEW  estado_carrera_ES AS
	SELECT statusId,
		CASE
			WHEN status = 'Finished' THEN 'Finalizado'
            WHEN status = 'Disqualified' THEN 'Descalificado'
            WHEN status = 'Accident' THEN 'Accidente'
            WHEN status = 'Collision' THEN 'Colisión'
            WHEN status = 'Engine' THEN 'Falla de motor'
            WHEN status = 'Gearbox' THEN 'Falla de caja de cambios'
            WHEN status = 'Hydraulics' THEN 'Falla hidráulica'
            WHEN status = 'Electrical' THEN 'Falla electrica'
            WHEN status = 'Spun off' THEN 'Salida de pista'
            ELSE 'Otro'
		END AS Estado_en_español
	FROM status;

 * sqlite:///formula_unicorn.db
Done.

[]

2. Create a Stored Procedure (SP) that calculate the victorys numbers for a team in a given year.

In [40]:
%%sql 
DELIMITER //
CREATE PROCEDURE victorys_by_team (IN team_id INT, IN year INT)
BEGIN
	SELECT constructors.name AS Team,
		COUNT(*) AS Victorys
	FROM results re
    JOIN races ra ON re.raceId = ra.raceId
    JOIN constructors ON re.constructorId = ra.constructorId
    WHERE re.position = 1 
		AND constructors.constructorId = team_id
        AND races.year = year
	GROUP BY constructors.name;
END //
DELIMITER ;

SHOW ERRORS;

 * sqlite:///formula_unicorn.db
(sqlite3.OperationalError) near "DELIMITER": syntax error
[SQL: DELIMITER //
CREATE PROCEDURE victorys_by_team (IN team_id INT, IN year INT)
BEGIN
	SELECT constructors.name AS Team,
		COUNT(*) AS Victorys
	FROM results re
    JOIN races ra ON re.raceId = ra.raceId
    JOIN constructors ON re.constructorId = ra.constructorId
    WHERE re.position = 1
		AND constructors.constructorId = team_id
        AND races.year = year
	GROUP BY constructors.name;
END //
DELIMITER ;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)